* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Shippori Mincho B1', serif;
 }

#left-menu{
    display:flex;
    list-style-type: none;
    justify-content: flex-start;

}
.listItems{
    margin-left: 20px;
}

#right-menu{
    display:flex;
    justify-content: flex-end;
    list-style-type: none;
}

.iconItems{
    margin-right: 20px;
}

#nav-heading{
    display:flex;
    justify-content: center;
}

#section1-h1{
    display:flex;
    justify-content: center;
    align-content: center;
}
#section1-p{
    padding-bottom: 20px;
}
#container{
    display:flex;
    flex-direction: column;
    margin: 0 auto;
}
header{
    border-bottom: 1px solid #3cb371;
}

#showcase {
    width:100%;
    height:100%;
    margin: auto;
    padding: 20px;
    line-height: 2.5rem;
    flex-direction: column;
    display:flex;
    align-items:center;
}
#btn-cta{
    background-color: #4CAF50; /* Green */
    border: none;
    color:white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    display: flex;
    list-style-type: none;
}
a{
    text-decoration: none;
    color:inherit;
    padding-bottom: 2px;
}
#btn-cta:hover a{
    text-decoration: underline;
    text-decoration-color:orange;
}
#ul-footer-center{
    display:flex;
    list-style-type: none;
    justify-content: flex-end;
}
#ul-footer-center li {
    padding: 0 10px;
}

#ul-footer-left {
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
}
#ul-footer-left li{
    padding: 0 10px;
}

/* Img Cards */
.img-card{
    width:210px;
    height:190;
}
.img-card3{
    width:90%;
    height:190;
}
.home-cards{
    display:grid;
    padding-left:20px;
    padding-bottom: 20px;;
    grid-template-columns: repeat(3, 1fr);
}
#contact{
    background-color: #3cb371;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 20px 0;
}